<!DOCTYPE html>
<html>
	<%- partial('_partials/head') %>

	<body>
		<%- partial('_partials/nav-pane') %>
		<div class="row">

			<div class="col s12 m8 l9">
				<%- body %>
			</div>
		</div>

		<%- partial('_partials/svg-defs') %>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/bin/materialize.min.js"></script>
		<%- partial('_partials/google-analytics') %>
	</body>
</html>